nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: black;
  padding: 0 6rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: inherit;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
}
